<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello world</h1>
    <p>dklkfjkl lks ls jl lksj l kl</p>
    <p><%=numbers %></p>
    <% if(name === "Mustafa") { %>
      <p>Name is <%=name%></p>
    <% } %>
  </body>
</html>
